$dashboard-color: #9f3434;

#dashboard-container:hover {
  padding: 1em;
  border: 3px solid $dashboard-color;
}

#dashboard-container:not(:empty):hover::after {
  content: 'Dashboard Module';
  background: white;
  position: absolute;
  margin-top: 4px;
  padding: 5px;
  color: $dashboard-color;
}

.image {
  max-width: 380px;
}

.big-number {
  font-size: 100px;
}
